/* ___________________  General Properties Start  _____________________*/

/* _________ Width Clases Starts Here _________  */

.w-5 {
    width: 5%;
    margin: auto;
}

.w-10 {
    width: 10%;
    margin: auto;
}

.w-15 {
    width: 15%;
    margin: auto;
}

.w-20 {
    width: 20%;
    margin: auto;
}

.w-30 {
    width: 30%;
    margin: auto;
}

.w-35 {
    width: 35%;
    margin: auto;
}

.w-40 {
    width: 40%;
    margin: auto;
}

.w-45 {
    width: 45%;
    margin: auto;
}

.w-55 {
    width: 55%;
    margin: auto;
}

.w-60 {
    width: 60%;
    margin: auto;
}

.w-65 {
    width: 65%;
    margin: auto;
}

.w-70 {
    width: 70%;
    margin: auto;
}

.w-80 {
    width: 80%;
    margin: auto;
}

.w-85 {
    width: 85%;
    margin: auto;
}

.w-90 {
    width: 90%;
    margin: auto;
}

.w-95 {
    width: 95%;
    margin: auto;
}

/* _________ Width Clases Ends Here _________ */

/* __________ Mode Options Starts Here _________ */

.mode-options {
    top: 200px;
    right: 0;
    z-index: 2;
}

.mode-sider {
    height: fit-content;
    background-color: orange;
}

.color-options {
    border: orange 1px solid;
}

.color-options li {
    height: 20px;
    width: 20px;
    background-color: burlywood;
    display: inline-block;
}

/* _________ Mode Options Ends Here _________ */

/* ________________ Home End Starts Here ________________ */

.home {
    background-image: url(../Images/city_vs_chelsea_final_graphic.webp);
    background-position: center center;
    background-size: contain;
    
}
#loader
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 45, 128);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader i
{
   color: #09c;
}
body
{
    overflow: hidden;
}
.site-left-aside
{
    top: 0;
    left: -250px;
    z-index: 2;
    width: 250px;
    background-color: #409de9;
}
.close-aside
{
    color: white;
    font-size: 35px;
    transition: 0.5s all ease-in-out;
    

}
.open-aside
{
height: fit-content;
top: 50%;
left: 20px;
z-index: 3;
color: white;
font-size: 30px;
}
.open-aside:hover
{
    color: greenyellow;
    transition: 0.5s all ease-in-out;
}
.close-aside:hover
{
    color: red;
    transition: 0.5s all ease-in-out;
}
.home-url li
{
    padding: 20px;
}

.home-url li a
{
   color: white;
   transition: 0.5s all ease-in-out;
   text-decoration: none;
   font-weight: 500;
   font-size: 20px;
}

.home-url li a:hover
{
   color: red;
   transition: 0.5s all ease-in-out;

}
/* ________________ Home End Ends Here ________________ */


/* ________________ UEFA Champions League Top Records Starts Here ________________ */


.uefa-final
{
    cursor: pointer;
    
}
.uefa-final h3
{
    
    transition: 0.5s all ease-in-out;
}
.uefa-final:hover h3
{
    color: rgb(34, 204, 43);
    transition: 0.5s all ease-in-out;
    
}

.final-info
{
    display: none;
}

.first-final
{
    display: block;
}
/* ________________ UEFA Champions League Top Records Ends Here ________________ */

/* ________________ UEFA Champions League Final Count Down Starts Here ________________ */

.final-countdown {
    z-index: 1;
    background-color: rgb(176, 187, 178);
}
.final-countdown h2{
    color: honeydew;
}
.countdown-info-cover
{
    height: 100%;
    width: 100%;
    background-color: rgb(70, 60, 60);
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0.3;
}
.countdown-info
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px groove white;
}
.cover {
    background-image: url(../Images/5eea2898c9de3d0740aca138.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* ________________ UEFA Champions League Final Count Down Ends Here ________________ */



.social-link
{
    border: 1px black solid;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link:hover
{
    background-color: red;
    
}
.social-link:hover i
{
    color: whitesmoke   ;
    transition: 0.5s all ease-in-out;    

}

.social-link i
{
    color: rgb(109, 104, 104)   ;
    transition: 0.5s all ease-in-out;    
}